* {
  box-sizing: border-box;
}
body {
  margin: 0;
  background: #e6e6e6;
  font-family: Ubuntu, sans-serif;
}
nav {
  display: block;
  width: 100%;
  background: aliceblue;
  padding: 15px 0;
}
nav a {
  text-decoration: none;
  margin-right: 10px;
}
.container {
  margin: 0 auto;
  padding: 20px;
  max-width: 700px;
}
header {
  color: #fbfbfb;
  background: #b15ba0;
  text-align: center;
  margin-bottom: 30px;
}
header h1 {
  font-size: 50px;
}
section {
  display: flex;
  justify-content: space-around;
}
.btn.senders {
  font-size: 20px;
  padding: 20px 30px;
}
.lists {
  margin-top: 320px;
}
.card {
  flex: 1;
  margin: 0 auto;
  background: #fff;
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding: 30px;
  min-height: 150px;
  border-radius: 2px;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
}
p {
  margin: 0 0 20px;
  line-height: 1.75em;
}
.menu {
  margin: 0 0 30px;
}
.list {
  list-style: none;
  margin: 0 0 10px;
  padding: 0;
}
.list-item {
  background: #fafafa;
  border: 1px solid #ddd;
  color: #333;
  display: block;
  margin: 0 0 10px;
  padding: 8px 15px;
  text-decoration: none;
}
.list-item h3 {
  display: inline-block;
}
label {
  display: block;
  margin: 0 0 15px;
}
hr {
  border: 1px dashed #ccc;
  margin-bottom: 25px;
}
input {
  border: 1px solid #ddd;
  border-radius: 3px;
  box-sizing: border-box;
  display: block;
  margin: 10px 0;
  padding: 10px 15px;
  width: 100%;
}
.pic {
  background: blue;
  color: white;
  width: 50px;
  margin: 10px 20px 0 5px;
  vertical-align: top;
  text-align: center;
  line-height: 50px;
  float: left;
}
.text {
  margin-left: 80px;
  font-size: 95%;
}
.button, .btn {
  background: #fff;
  border: 1px solid #8c8c8c;
  border-radius: 3px;
  color: #333;
  display: inline-block;
  padding: 10px 15px;
  text-decoration: none;
}
.btn ~ .btn {
  margin-left: 10px;
}
.button:hover {
  background: #e8e8e8;
}
